# Compiled files:
public/app.js
public/worker.js
# Copied files
public/jszip.min.js

# Source maps
*.js.map

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage tools
coverage/
*.lcov
.nyc_output/

# TypeScript
*.tsbuildinfo

.yarn/

.env

# Cypress stuff
cypress/screenshots/
cypress/videos/
cypress/downloads/
.DS_Store

# Google Sheets Credentials
test/fixtures/credentials.json
test/fixtures/token.json
.env

# IDE
.idea
