:root {
  /* Keyman brand colours, derived from https://keyman.com/ */
  --blue: #6fbbd4;
  --blue-light: #b3dbe7;
  --red: #b90529;
  --red-light: #de929c;
  --orange: #f18407;
  --orange-light: #fbc88f;
  --gray: #888888;
  --gray-light: #d6d6d6;

  /* Font stack */
  /* Custom fonts downloaded from Google Fonts -- see public/index.html */
  --main-font: "Cabin";
  --mono-font: "Roboto Mono";
}

body {
  font-family: var(--main-font), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font), sans-serif;
}

pre, code, samp {
  font-family: var(--mono-font), monospace;
}
