:root {
  /* Keyman brand colours, derived from https://keyman.com/ */
  --blue: #6fbbd4;
  --blue-light: #b3dbe7;
  --red: #b90529;
  --red-light: #de929c;
  --orange: #f18407;
  --orange-light: #fbc88f;
  --gray: #888888;
  --gray-hover: #c5c5c5;
  --gray-light: #d6d6d6;
  --gray-dark: #454545;
  --lite-white: #f1f1f1;
  --white: #ffffff;
  --primary-blue: #0099ff;
  --dark-blue: #0876c0;
  /* Font stack */
  /* Custom fonts downloaded from Google Fonts -- see public/index.html */
  --main-font: "Cabin";
  --secondary-font: "Roboto";
  --mono-font: "Roboto Mono";
}

body {
  font-family: var(--main-font), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font), sans-serif;
}

pre, code, samp {
  font-family: var(--mono-font), monospace;
}

/**
 * .button Block
 *
 * Can be applied to either a <button> or <a> element.
 */
.button {
  margin: 0 .625em;
  border: 1px solid transparent;
  border-radius: .625rem;

  font-family: var(--main-font), sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;

  transition-duration: 0.2s;
  cursor: pointer;
}

.button--grey {
  background-color: var(--lite-white);
}

.button--grey:hover {
  background-color: var(--gray-hover);
}

.button--grey.outline {
  border-color: var(--gray-hover);
  background-color: var(--white);
}

.button--grey.outline:hover {
  background-color: var(--lite-white);
}

.button--blue {
  background-color: var(--primary-blue);
  color: var(--white);
}

.button--blue:hover {
  background-color: var(--dark-blue);
}

.button--blue.outline {
  border-color: var(--primary-blue);
  background-color: var(--white);
  color: var(--primary-blue);
}

.button--blue.outline:hover {
  background-color: var(--lite-white);
}
